#posts_row.row
  - @posts.each do |post|
    .post_panel
      .post_header.clearfix
        .post_info.clearfix
          %h3.post_title
            = post.title
        .extra_info
          %h3.author_name 
            by
            = link_to "#{post.author}", user_path(post.user_id)
            in 
            = post.category
          - if (current_user == nil) || (post.likes_user_ids.include? current_user.id) || (post.user_id == current_user.id)
            .button.round.success.disabled{onclick: "like(#{post.id})", :id => "like_button_#{post.id}"}
              Like
          -else
            .button.round.success{onclick: "like(#{post.id})", :id => "like_button_#{post.id}"}
              Like
      %article.post_container.clearfix
        .image_container
          = image_tag(post.image_url)
        .latex_container
          - if post.latex_content.nil? != true
            = post.latex_content
          -else
            No latex content