.two.columns
  .row
    %ul{:style => "list-style-type: none;"}
      %li{style: "display: inline;"}  
        %h1{style: "display: inline;"} Filters
  .row
    %form.custom
      - Post::CATEGORIES.each do |category|
        .row
          .four.columns
            %label{:for => "checkbox_#{category}", :onclick => "filter('#{category}')"}
              %input{ :type => "checkbox", :id =>"checkbox_#{category}", :style => "display: none;" }
              %span.custom.checkbox{:id => "checkbox_span_#{category}"}
              =category
  .row
    .button{onclick: "filter()"} 
      Filter
.seven.columns
  .row
    %ul{:style => "list-style-type: none;"}
      %li{style: "display: inline;"}  
        %h1{style: "display: inline;"} Voting posts
      %li{style: "display: inline;"}
        / .button.large.right{style: "display: inline;"}
        - if current_user != nil
          = link_to "New Post", new_post_path, class: "button large radius right", style: "color: white;"
  #posts_row.row
    - @posts.each do |post|
      #post.panel.radius
        #title.row
          %h3
            = post.title
        #post_body.row
          .eight.columns
            %a{:href => "#{post_path(post)}"}
              %img{:src => "#{post.image_url}"}
            - if post.latex_content.nil? != true
              #latex_content
                = post.latex_content

          .four.columns
            %p
              = post.author
            - if (current_user == nil) || (post.likes_user_ids.include? current_user.id) || (post.user_id == current_user.id)
              .button.round.success.disabled{onclick: "like(#{post.id})", :id => "like_button_#{post.id}"}
                Like
            -else
              .button.round.success{onclick: "like(#{post.id})", :id => "like_button_#{post.id}"}
                Like
            %p{:id => "likes_count_#{post.id}"}
              = post.likes_count
            %p#category
              - if post.category.nil? != true
                = post.category
    %br/
