.two.columns
  .row
    %ul{:style => "list-style-type: none;"}
      %li{style: "display: inline;"}  
        %h1{style: "display: inline;"} Filters
  .row
    %form.custom
      - Post::CATEGORIES.each do |category|
        .row
          .four.columns
            %label{:for => "checkbox_#{category}", :onclick => "filter('#{category}')"}
              %input{ :type => "checkbox", :id =>"checkbox_#{category}", :style => "display: none;" }
              %span.custom.checkbox{:id => "checkbox_span_#{category}"}
              =category

.nine.columns
  .row
    %ul{:style => "list-style-type: none;"}
      %li{style: "display: inline;"}  
        %h1{style: "display: inline;"} Trending
      %li{style: "display: inline;"}
        / .button.large.right{style: "display: inline;"}
        - if current_user != nil
          = link_to "New Post", new_post_path, class: "button large radius right", style: "color: white;"
  #posts_row.row
    - @posts.each do |post|
      = render post
