!!!
%html
  %head
    %title Tmesomething
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = javascript_include_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    %script{:type => "text/x-mathjax-config"}
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});

  %body
    .fixed
    %nav.top-bar
      %ul
        %li.name
          %h1=link_to "TmeSomething", root_path
        %li.toggle-topbar
          %a{:href => "#"}

      %section 
        %ul.left
          %li.divider 
          %li
            =link_to "Trending", trending_path, class: "active"
          %li
            =link_to "Voting", posts_path, class: "active"
        %ul.right
          - if !signed_in?
            %li.divider
            %li= link_to "Sign In", signin_path, class: "active"
            %li.divider
            %li= link_to "Sign Up", signup_path, class: "active" 
          - else
            %li
              %a.active{:href => "#"}
                = current_user.username
            %li.divider
            %li= link_to "Sign Out", signout_path, method: "delete", class: "active"
        
    = yield
